<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="CartPersistDays" value="10" />
    <add key="MailServer" value="ALTAR2" />
    <add key="EnableErrorLogEmail" value="false" />
    <add key="ErrorLogEmail" value="karli@watsons.dnsalias.com" />
    <add key="ProductsPerPage" value="6"/>
    <add key="ProductDescriptionLength" value="60"/>
    <add key="SiteName" value="BalloonShop"/>
    <add key="CustomerServiceEmail" value="balloonshop@apress.com" />
    <add key="OrderProcessorEmail" value="balloonshop@apress.com" />
    <add key="SupplierEmail" value="karli@watsons.dnsalias.com" />
    <add key="DataCashClient" value="99110400" />
    <add key="DataCashPassword" value="rUD27uD" />
    <add key="DataCashUrl"
      value="https://testserver.datacash.com/Transaction" />
  </appSettings>

  <connectionStrings>
    <add name="BalloonShopConnection" connectionString="Server=(local)\SqlExpress;Integrated Security=True;Database=BalloonShop"
      providerName="System.Data.SqlClient" />
    <add name="BalloonShopAspNetDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Only administrators are allowed to access CatalogAdmin.aspx -->
  <location path="CatalogAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*"  />
      </authorization>
    </system.web>
  </location>

  <!-- Only administrators are allowed to access ShoppingCartAdmin.aspx -->
  <location path="ShoppingCartAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- Only administrators are allowed to access OrderTest.aspx -->
  <location path="OrderTest.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- Only administrators are allowed to access OrdersAdmin.aspx -->
  <location path="OrdersAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- Only existing customers can access CustomerDetails.aspx -->
  <location path="CustomerDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- Only existing customers can access Checkout.aspx -->
  <location path="Checkout.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- Only existing customers can access OrderPlaced.aspx -->
  <location path="OrderPlaced.aspx">
    <system.web>
      <authorization>
        <allow roles="Customers" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web>
    <profile>
      <properties>
        <add name="CreditCard" type="System.String" />
        <add name="Address1" type="System.String" />
        <add name="Address2" type="System.String" />
        <add name="City" type="System.String" />
        <add name="Region" type="System.String" />
        <add name="PostalCode" type="System.String" />
        <add name="Country" type="System.String" />
        <add name="ShippingRegion" type="System.String" />
        <add name="DayPhone" type="System.String" />
        <add name="EvePhone" type="System.String" />
        <add name="MobPhone" type="System.String" />
      </properties>
    </profile>

    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider,&#xD;&#xA;          System.Web,&#xD;&#xA;          Version=2.0.0.0, Culture=neutral,&#xD;&#xA;          PublicKeyToken=b03f5f7f11d50a3a"



          connectionStringName="LocalSqlServer"
          enablePasswordRetrieval="false" enablePasswordReset="true"
          requiresQuestionAndAnswer="true" applicationName="/"
          requiresUniqueEmail="false" passwordFormat="Hashed"
          maxInvalidPasswordAttempts="5" passwordAttemptWindow="10"
          minRequiredPasswordLength="6"
          minRequiredNonalphanumericCharacters="0"
          passwordStrengthRegularExpression="" />
      </providers>
    </membership>

    <roleManager enabled="true" />
    <pages theme="BalloonShopDefault"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="BalloonShopLogin"
          loginUrl="Login.aspx" path="/" protection="All" timeout="60">
      </forms>
    </authentication>

    <customErrors mode="RemoteOnly" defaultRedirect="Oooops.aspx" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"
                   culture="en-US"/>
  </system.web>
</configuration>
